/* swiper library specific styles */
.swiper-pagination {
  bottom: 0;
  padding-bottom: 1.5rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 10px;
}

.swiper-pagination-bullet-active {
  background-color: #63b3ed !important;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-button-prev::after {
  font-size: 20px;
  color: #63b3ed;
}

.swiper-button-next::after {
  font-size: 20px;
  color: #63b3ed;
}

/* custom carousel specific styles */
.swiper-gallery-image {
  width: 100vw;
  height: 250px;
  object-fit: cover;
  filter: brightness(50%);
}

.swiper-gallery-details-container {
  position: absolute;
  left: 43%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.swiper-gallery-title {
  font-size: 1.7rem;
  margin: 0;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: white;
}

.swiper-gallery-summary {
  display: none;
  color: white;
}

@media screen and (min-width: 800px) {
  .swiper-button-prev::after {
    font-size: 40px;
  }

  .swiper-button-next::after {
    font-size: 40px;
  }

  .swiper-gallery-image {
    width: 100vw;
    height: 650px;
    object-fit: cover;
    filter: brightness(50%);
  }

  .swiper-gallery-details-container {
    position: absolute;
    left: 550px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .swiper-gallery-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    width: 23ch;
    line-height: 1.1;
    margin-bottom: 1.8rem;
  }

  .swiper-gallery-summary {
    font-size: 1.2rem;
    font-weight: 300;
    width: 55ch;
    display: block;
    margin-bottom: 2.5rem;
  }
}
